@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    body {
        @apply font-montserrat
    }

    h1, h2, h3 {
        @apply font-carmorantGaramond
    }

    nav a {
        @apply font-carmorantGaramond
    }

    a {
        @apply font-montserrat
    }

}


/*  Custom Title for Viewer */
.viewer-title {
    font-size: 1rem !important;
    font-weight: 500 !important;
    opacity: 100% !important;
    background-color: #1B1C1B;
    color: #FCF2F2 !important;
    padding: 6px !important;
    word-wrap: break-word !important;
    white-space: wrap !important;
}

/* Prevent viewer from moving page */
body.viewer-open {
    padding: 0 !important;
    overflow: auto !important;
}

::-webkit-scrollbar { 
display: none; 
}

#contactImage {
    object-position: 50% 0%;
}

@media only screen and (min-width: 768px) {#contactImage {
    object-position: 50% 20%;
}}

.splide__arrow--next {
    right: 0em !important;
}

.splide__arrow--prev {
    left: 0em !important;
}